doctype html
html
  head
    title Alisha Dance Academy
    block scripts
    block style
    //-   script(src='/jquery.js')
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | ADA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            

    block content
    footer#footer
        | copyright (c) 2021 AlishaDanceAcademy.com | All Rights Reserved   